@page
@model KamiPay.Pages.Admin.SettingsModel
@{
    Layout = "Shared/_AdminLayout";

    ViewData["PageName"] = "Settings";
}

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title">系统设置</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-4">
                <label for="timeZoneLabel" class="col-sm-3 col-form-label form-label">Time zone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="currentPassword" id="timeZoneLabel" placeholder="Your time zone" aria-label="Your time zone" value="GMT+01:00" readonly>
                </div>
            </div>
            <div class="row mb-4">
                <label for="timeZoneLabel" class="col-sm-3 col-form-label form-label">法定货币</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label for="timeZoneLabel" class="col-sm-3 col-form-label form-label">订单有效期</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">API 接口密钥</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">收款地址</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-md-down-break">
                        <label class="form-control" for="genderTypeRadio1">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="genderTypeRadio" id="genderTypeRadio1">
                                <span class="form-check-label">动态地址</span>
                            </span>
                        </label>
                        <label class="form-control" for="genderTypeRadio2">
                            <span class="form-check">
                                <input type="radio" class="form-check-input" name="genderTypeRadio" id="genderTypeRadio2" checked>
                                <span class="form-check-label">固定地址</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-3">
                <a class="btn btn-white" href="javascript:;">Cancel</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title">Telegram</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">用户 ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">机器人密钥</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-3">
                <a class="btn btn-white" href="javascript:;">发送测试消息</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title">Emailing</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">默认显示名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">默认发件人</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">主机地址</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">端口</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row  mb-4 align-items-center">
                <label for="disableAdCheckbox" class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="disableAdCheckbox">
                        <label class="form-check-label" for="disableAdCheckbox">启用 SSL</label>
                    </div>
                </div>
            </div>
            <div class="row  mb-4 align-items-center">
                <label class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">使用默认凭据</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">用户名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">认证密码</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-3">
                <a class="btn btn-white" href="javascript:;">Send test email</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
